<p>signup works!</p>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">Firstname</label>
                <input
                    type="text"
                    id="firstName"
                    formControlName="FirstName"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['FirstName'].errors }"
                />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">Lastname</label>
                <input class="form-control" 
                 type="text"
                 id="lastName" 
                 formControlName="LastName" 
                 [ngClass]="{ 'is-invalid': submitted && f['LastName'].errors }"
                />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                 class="form-control"
                 type="text" 
                 id="email" 
                 formControlName="Email" 
                 [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }"
                />
            </div>
            
        </div>
        <div class="col">
            <div class="form-group">
                <label for="userName">Username</label>
                <input 
                 class="form-control"
                 type="text" 
                 id="userName" 
                 formControlName="UserName" 
                 [ngClass]="{ 'is-invalid': submitted && f['UserName'].errors }"
                />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                 class="form-control"
                 type="text" 
                 id="password" 
                 formControlName="Password" 
                 [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }"
                />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="confirmPassword">Repeat Password</label>
                <input 
                 class="form-control"
                 type="text" 
                 id="confirmPassword" 
                 formControlName="ConfirmPassword" 
                 [ngClass]="{ 'is-invalid': submitted && f['ConfirmPassword'].errors }"
                />
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>